# Database
POSTGRES_URL=jdbc:postgresql://localhost:5432/platform_notification_db
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE=platform.notifications
RABBITMQ_NOTIFICATION_EVENTS_QUEUE=notification.events
RABBITMQ_NOTIFICATION_EVENTS_ROUTINGKEY=notification.event
RABBITMQ_NOTIFICATION_EMAIL_QUEUE=notification.email
RABBITMQ_NOTIFICATION_EMAIL_ROUTINGKEY=notification.email
RABBITMQ_NOTIFICATION_CANCEL_QUEUE=notification.cancel
RABBITMQ_NOTIFICATION_CANCEL_ROUTINGKEY=notification.cancel

# Keycloak
KEYCLOAK_ISSUER_URI=http://localhost:8083/realms/todo
KEYCLOAK_JWKS_URI=http://localhost:8083/realms/todo/protocol/openid-connect/certs

# Eureka
EUREKA_HOSTNAME=localhost

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Mail SMTP
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=587
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Zipkin
ZIPKIN_URL=http://localhost:9411

# Server
SERVER_PORT=8082
